/* ==========================================================================
   #COLUMNS
   ========================================================================== */

$_columns: 2 3 !default;


.o-columns {
  @include _suffixer {
    column-gap: $_spacing-unit;
  }
}





/* Size variants.
   ========================================================================== */

.o-columns--tiny {
  @include _suffixer {
    column-gap: $_spacing-unit-tiny;
  }
}

.o-columns--small {
  @include _suffixer {
    column-gap: $_spacing-unit-small;
  }
}

.o-columns--large {
  @include _suffixer {
    column-gap: $_spacing-unit-large;
  }
}

.o-columns--huge {
  @include _suffixer {
    column-gap: $_spacing-unit-huge;
  }
}





/* Column variants.
   ========================================================================== */

@each $_column in $_columns {

  .o-columns--#{$_column} {
    @include _suffixer {
      column-count: $_column;
    }  
  }

}