/* ==========================================================================
   #MISC
   ========================================================================== */

hr {
  border: none;
  height: 1px;
  background-color: $global-color;
}

/**
 * 1. Prevent horizontal resizing.
 * 2. Move an accompanying label to the top.
 */

textarea {
  resize: vertical; /* [1] */
  vertical-align: top; /* [2] */
}