/* ==========================================================================
   #MISC
   ========================================================================== */

hr {
  border: none;
  height: 1px;
  background-color: $global-color;
}

/**
 * 1. Prevent horizontal resizing.
 */

textarea {
    resize: vertical; /* [1] */
}