///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// General project typesetting.
$global-font-family:     'Helvetica Neue', Helvetica, Arial, sans-serif;
$global-font-family-alt:  Georgia, Times, 'Times New Roman', serif;


// Project color selection.
$global-color:        $black;
$global-action-color: $blue;


// Standardise some UI treatments.
$global-radius: 3px;
$global-transition: all 300ms ease-in-out;