///* ========================================================================
//   #COLORS
//   ======================================================================== */

// The colors settings file contains any project-wide color variables; colors 
// that need to be made available to the entire codebase.

// Project colors.
$black: #272822;
$blue:  #1006B9;


// Common brand colors.
$color-facebook:   #3b5998;
$color-twitter:    #00b6f1;
$color-youtube:    #ff0000;
$color-instagram:  #c32aa3;
$color-pinterest:  #cb2027;
$color-googleplus: #df4a32;
$color-linkedin:   #007bb6;
$color-vimeo:      #45bbff;
$color-tumblr:     #2c4762;
$color-snapchat:   #fffc00;
$color-skype:      #00aff0;
$color-soundcloud: #ff5500;
$color-spotify:    #1ed760;
$color-dribbble:   #ea4c89;
$color-reddit:     #ff5700;