///* ========================================================================
//   #CORE
//   ======================================================================== */

// This core file sets up bcss’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution.


// Base typographical styles and baseline grid. You need to define these values
// in pixels: bcss will convert them to more appropriate units.

$core-font-size:   16px   !default;
$core-line-height: 22.4px !default;





// Spacing values are determined based on your project’s global line height (i.e
// your baseline grid). It is not recommended that you modify these following
// variables (it can break your vertical rhythm), but if you need to, you can.

$core-spacing-unit: round($core-line-height) !default;


// How many times larger/smaller than the default should our spacing unit
// variants be?

$core-spacing-unit-factor-tiny:  0.25 !default;
$core-spacing-unit-factor-small: 0.5  !default;
$core-spacing-unit-factor-large: 2    !default;
$core-spacing-unit-factor-huge:  4    !default;





// Check that the chosen font rules are pixel numbers.

@each $_core-font-rule in
      $core-font-size
      $core-line-height {

  @if (type-of($_core-font-rule) == number) {

    @if (unit($_core-font-rule) != "px") {
      @error "`#{$_core-font-rule}` needs to be a pixel value.";
    }

  } @else {
    @error "`#{$_core-font-rule}` needs to be a number.";
  }

}


// Check that the chosen size factors are unitless numbers.

@each $_core-spacing-unit in
      $core-spacing-unit-factor-tiny
      $core-spacing-unit-factor-small
      $core-spacing-unit-factor-large
      $core-spacing-unit-factor-huge {

  @if (type-of($_core-spacing-unit) == number) {

    @if (unitless($_core-spacing-unit) == false) {
      @error "`#{$_core-spacing-unit}` needs to be unitless.";
    }

  } @else {
    @error "`#{$_core-spacing-unit}` needs to be a number.";
  }

}


// Core reassignment. Do not alter anything below.

$core-spacing-unit-tiny:  round($core-spacing-unit * $core-spacing-unit-factor-tiny);
$core-spacing-unit-small: round($core-spacing-unit * $core-spacing-unit-factor-small);
$core-spacing-unit-large: round($core-spacing-unit * $core-spacing-unit-factor-large);
$core-spacing-unit-huge:  round($core-spacing-unit * $core-spacing-unit-factor-huge);
