/* ==========================================================================
   #SHARED
   ========================================================================== */

/**
 * Shared declarations for certain elements.
 */

/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

$_spacing-margin-factor: 1 !default;

/* stylelint-disable selector-list-comma-newline-after */
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: _spacing-unit($_spacing-margin-factor);
}
/* stylelint-enable selector-list-comma-newline-after */


/**
 * Consistent indentation for lists.
 */

$_spacing-indent-factor: 1 !default;

/* stylelint-disable selector-list-comma-newline-after */
dd, ol, ul {
  margin-left: _spacing-unit($_spacing-indent-factor);
}
/* stylelint-enable selector-list-comma-newline-after */