///* ========================================================================
//   #BARE-LIST
//   ======================================================================== */

@mixin _bare-list($dl:false) {
  @if $dl {
    > dd {
      margin-left: 0;
    }
  } @else {
    list-style-type: none;
    margin-left: 0;
  }
}