/* ==========================================================================
   #SCROLL
   ========================================================================== */

  // Mixin for creating a overflow scrolling element, options for x or y axis scrolling
  @mixin _scroll($axis) {

    @if ( $axis == 'x' ) {
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    @else if ( $axis == 'y' ) {
      overflow-y: hidden;
      overflow-x: auto;
    }

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: -moz-scrollbars-none;
    
    &::-webkit-scrollbar {
        display: none;
    }
    
    &::-moz-scrollbar {
        display: none;
    }
  
  }