///* ========================================================================
//   #SCROLL
//   ======================================================================== */

// Mixin for creating an overflow scrolling element with options for both y and
// x scrolling.
@mixin _scroll($axis: y) {

  @if ($axis == 'y') {
    overflow-y: hidden;
    overflow-x: auto;
  } 

  @else if ($axis == 'x') {
    overflow-x: hidden;
    overflow-y: auto;
  }

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-moz-scrollbar {
    display: none;
  }
  
}